<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mbr">

<select id="readOneMbrByIdAndPwd"
			parameterType="com.ktdsuniversity.admin.mbr.vo.MbrVO"
			resultType="com.ktdsuniversity.admin.mbr.vo.MbrVO">
		SELECT MBR_ID
			 , MBR_NM
			 , PWD
			 , TO_CHAR(CRT_DT, 'YYYY-MM-DD HH24:MI:SS') CRT_DT
			 , USE_YN
			 , TO_CHAR(LST_LGN_DT, 'YYYY-MM-DD HH24:MI:SS') LST_LGN_DT
			 , LST_LGN_IP
			 , LGN_TRY_CNT
			 , LGN_BLCK_YN
			 , TO_CHAR(LST_LGN_FAIL_DT, 'YYYY-MM-DD HH24:MI:SS') LST_LGN_FAIL_DT
			 , PWD_SALT
			 , TO_CHAR(PWD_CHNG_DT, 'YYYY-MM-DD HH24:MI:SS') PWD_CHNG_DT
			 , ADM_YN
		  FROM MBR
		 WHERE MBR_ID = #{mbrId}
		   AND PWD = #{pwd}
	</select>


	
	
</mapper>