<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mv">

	<insert id="createNewMv"
			parameterType="com.ktdsuniversity.admin.mv.vo.MvVO">
		INSERT INTO MV
	  		  (MV_ID
	  		 , MV_TTL
	  		 , ENG_TTL
	  		 , SCRN_STT
	  		 , SCRN_TM
	  		 , OPNG_DT
	  		 , GRD
	  		 , PSTR
	  		 , SMR
	  		 , CRT_DT
	  		 , CRTR
	  		 , MDFY_DT
	  		 , MDFYR
	  		 , USE_YN
	  		 , DEL_YN)
	   VALUES  
	   		  ('MV-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_MN_PK.NEXTVAL, 5, '0')
	   		 , #{mvTtl}
	   		 , #{engTtl}
	   		 , #{scrnStt}
	   		 , #{scrnTm}
	   		 , TO_DATE(#{opngDt}, 'YYYY-MM-DD')
	   		 , #{grd}
	   		 , #{pstr}
	   		 , #{smr}
	   		 , SYSDATE
	   		 , #{crtr}
	   		 , SYSDATE
	   		 , #{mdfyr}
	   		 , NVL(#{useYn}, 'N')
	   		 , 'N' )
	</insert>
	
	<update id="updateOneMv"
			parameterType="com.ktdsuniversity.admin.mv.vo.MvVO">
		UPDATE MV
		   SET MV_TTL = #{mvTtl}
		     , ENG_TTL = #{engTtl}
		     , SCRN_STT = #{scrnStt}
		     , SCRN_TM = #{scrnTm}
		     , OPNG_DT = TO_DATE(#{opngDt}, 'YYYY-MM-DD')
		     , GRD = #{grd}
		     , PSTR = #{pstr}
		     , SMR = #{smr}
		     , MDFY_DT = SYSDATE
		     , MDFYR = #{mdfyr}
		     , USE_YN = NVL(#{useYn}, 'N')
	     WHERE MV_ID = #{mvId}
	</update>
	
	<update id="deleteOneMvByMvId"
			parameterType="string">
		UPDATE MV
		   SET DEL_YN = 'Y'
		 WHERE MV_ID = #{_parameter}
	</update>
	
	<update id="deleteMvByMvIdList"
			parameterType="arraylist">
		UPDATE MV
		   SET DEL_YN = 'Y'
		 WHERE MV_ID IN
		 <foreach collection="list" item="mvId" open="(" close=")" separator=",">
			 #{mvId}
		 </foreach>
	</update>
	
	<!-- <select id="readOneMvByMvId"
			parameterType="string"
			resultMap="">
		
	</select>
	
	<select id="readAllMv"
			parameterType="com.ktdsuniversity.admin.mv.vo.MvVO"
			resultMap="">
		
	</select> -->
	
</mapper>